@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

body {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  color: white;
  background-color: black;
}

.header {
  display: flex;
  width: 100%;
  align-items: center;
  height: auto;
  padding: 2%;
  font-size: large;
  font-weight: 700;
}

.homePage {
  display: flex;
  gap: 25px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: auto;
  margin-left: 4%;
}

.cardDetails{
  margin: 10px;
  border: 2px solid white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 300px;
  border-radius: 15px;
}

.image{
  height: 350px;
  width: 300px;
  border-radius: 5%;
}

.price,.title{
  text-align: left;
  font-size: larger;
  justify-content: space-between;
  margin: auto;
  padding:15px;
}

.btn{
  color: black;
  background-color: white;
  padding: 3%;
  width: 50%;
  height: 50px;
  border-radius: 5px;
  border: 3px solid cyan;
  font-weight: 900;
  text-decoration: underline;
  text-align: center;
  margin: 10%;
}

.detailpageheading{
  font-size: 30px;
}

.detailpage{
  margin-left: 20px;
}